// Base
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-first;
  font-family: $font-first;

  .App {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}