// Colors
$color-first: #00a2b1;
$color-second: #eee;
$color-light: rgba(#fff, 0.7);
$color-dark: #0e0e0e;

$text-color-1: rgb(0,140,140); // Mars Green
$text-color-2: rgb(244, 224, 51); // Factory Yellow
$text-color-3: rgb(58, 50, 125); // Royal Blue
$text-color-4: rgb(201, 41, 41); // Bright Red
$text-color-5: rgb(185, 73, 131); // Fuchsia Pink