// Fonts
$font-first: 'Montserrat Alternates', sans-serif;

$text-font-1: 'Bellota', cursive;
$text-font-2: 'Turret Road', cursive;
$text-font-5: 'Kodchasan', sans-serif;
$text-font-3: 'Oxanium', cursive;
$text-font-4: 'Srisakdi', cursive;