// Fonts
$font-first: 'Montserrat Alternates', sans-serif;

$text-font-1: 'Bellota', cursive;
$text-font-2: 'Turret Road', cursive;
$text-font-5: 'Kodchasan', sans-serif;
$text-font-3: 'Oxanium', cursive;
$text-font-4: 'Srisakdi', cursive;

.text-font-1 {
  font-family: $text-font-1;
}

.text-font-2 {
  font-family: $text-font-2;
}

.text-font-3 {
  font-family: $text-font-3;
}

.text-font-4 {
  font-family: $text-font-4;
}

.text-font-5 {
  font-family: $text-font-5;
}